/* Styling for greetings */

html{
	background-color: lightgrey;
}

h2{
	color: green;	
}

#dragon{
	height: 200px;
	width: 200px;
	margin-right: 100px;
	
}

#hero{
	height: 170px;
	width: 170px;
}



#game{
	text-align: center;
	
}

/* Stying for options  */

#fight{
	background-color: green;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20px;
	margin-right: 20px;
	
}

#flee{
	background-color: red;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

#chug-a-beer{
	background-color: gold;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20px;
	margin-right: 20px;

}


/* Fight option styling display starts off as invisible*/

#fight-option{
	
}

.invisible{
	visibility: hidden;
}

.visible{
	visibility: visible;
}

#fightResultLoss{
	color: red;
}

#fightResultWin{
	color: black;
	background-color: gold;
}


/* User decides to flee */
#fleeText{
	background-color: red;
	color: white;
}

/* User decides to chug a beer */

#chugABeer{
	color: black;
	background-color: gold;
}